.filePreviwePanale{
    position:absolute;
    height: 400px;
    width: 600px;
    background-color: rgb(0, 26, 255);
    backdrop-filter: blur(2px);
    
    
    right: 30%;
    top: 20%;
}

.filePreviwe{
    height: 100%;
    width: 75%;
    background-color: blueviolet;

}

.previweBox {
    height: 60%;
    width: calc(100% - 54px);
    background-color: chocolate;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    margin: auto;
}


.selectedFiles{
    height: 100%;
    width: 25%;
    background-color: chartreuse;
}