.filePreviwePanale{
    display: none;
    position:absolute;
    height: 400px;
    width: 600px;
    background-color: rgba(102, 232, 255, 0.253);
    backdrop-filter: blur(2px);
    
    border-radius: 10px;
    right: 30%;
    top: 20%;
}

.filePreviwe{
    height: 100%;
    width: 75%;
    border-right: 1px solid black;
    /* background-color: blueviolet; */

}

.previweBox {
    height: 60%;
    width: calc(85% - 54px);
    background-color: rgba(255, 255, 255, 0.726);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    margin: 30px auto;
    background-image: url("/images//Millie-Bobby-Brown.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sendfilebtn{
    height: 30px;
    width: 30px;
    color: rgb(2, 139, 64);
    float: right ;
    
  
}
.sendfilebtn span :hover{
    cursor: pointer;
}

.fileInfo{
    text-align: center;

}
.fileInfo span,bold{
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
.fileInfo span{
    font-family: monospace;
    color: rgb(102, 102, 102);
    font-size: 0.9rem;
}


.selectedFiles{
    height: 100%;
    width: 25%;
    /* background-color: chartreuse; */
}