.pad-tb-13{
    padding: 13px 0px;
}

.flex{
    display: flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.flex-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.content-between{
    justify-content: space-between;
}

.content-center{
    justify-content: center;
}

.content-evenly{
    justify-content: space-evenly;
}

.Bold{
    font-weight: bold;
}

.overflowhide{
    overflow-x: hidden;
    overflow-y: hidden;
}

.Cpointer{
    cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.scrollbar-hide{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: var(--elem-back);
  }
.thin-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(213, 255, 255);
  }

.size-24{
    font-size: 24px !important;

}

.size-30{
    font-size: 30px !important;
}

.Showme{
    display: block !important;
}

.size-36{
    
    font-size: 36px !important;
}

.color-red{
    color: rgb(255, 0, 0);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}